html(lang='en')
    head
        title Vote
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
            crossorigin="anonymous"
        )
        style(type='text/css').
            img.choice {
                max-width: 650px;
                max-height: 650px;
            }
            img.choice:hover {
                cursor: pointer;
            }
        script.
            let itemIdArray;

            const makeImagesClickable = () => {
                Array.prototype.forEach.call(
                    document.getElementsByClassName("choice"),
                    img => img.addEventListener("click", () => vote(img.getAttribute("item-id")))
                );
            }

            const vote = (winnerId) => {
                const json = {
                    "itemIds": itemIdArray,
                    "winnerId": winnerId
                };

                const options = {
                    method: 'POST',
                    body: JSON.stringify(json),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }

                fetch('/api/matches', options)
                    .then(res => res.json())
                    .then(data => console.log(data))
                    .catch(err => console.error(err));

                location.reload();
            }

            const fetchImagesForMatch = () => {
                const path = window.location.pathname.split('/'); 
                const gameId = path[path.length - 1];

                const options = {
                    method: 'GET',
                    redirect: 'follow'
                };

                fetch('/api/matches/new?gameId=' + gameId, options)
                    .then(res => res.json())
                    .then(data => { if (data.success) setImages(data.data) })
                    .catch(err => console.error(err));
            }

            const setImages = (items) => {
                itemIdArray = items.map(item => item._id);

                const firstChoice = document.getElementById('firstChoice');
                const secondChoice = document.getElementById('secondChoice');

                firstChoice.setAttribute('item-id', items[0]._id);
                secondChoice.setAttribute('item-id', items[1]._id);

                firstChoice.setAttribute('src', items[0].url);
                secondChoice.setAttribute('src', items[1].url);

                const firstTitle = document.getElementById('firstTitle');
                const secondTitle = document.getElementById('secondTitle');

                firstTitle.innerHTML = items[0].title;
                secondTitle.innerHTML = items[1].title;

                //- const firstRating = document.getElementById('firstRating');
                //- const secondRating = document.getElementById('secondRating');

                //- firstRating.innerHTML = "Rating: " + items[0].rating.rating;
                //- secondRating.innerHTML = "Rating: " + items[1].rating.rating;

                const firstDeviation = document.getElementById('firstDeviation');
                const secondDeviation = document.getElementById('secondDeviation');

                firstDeviation.innerHTML = "Rating deviation: " + items[0].rating.ratingDeviation;
                secondDeviation.innerHTML = "Rating deviation: " + items[1].rating.ratingDeviation;
            }

            document.addEventListener('keydown', (e) => {
                if (e.code == "ArrowLeft") {
                    vote(document.getElementById('firstChoice').getAttribute("item-id"));
                } else if (e.code == "ArrowRight") {
                    vote(document.getElementById('secondChoice').getAttribute("item-id"));
                }
            });

            window.onload = () => {
                makeImagesClickable();
                fetchImagesForMatch();
            }
    body
        div.row.justify-content-center.container-fluid
            div.col-auto
                table.table.table-responsive.table-borderless
                    thead.thead-dark
                        tr
                            th Vote 1
                            th Vote 2
                    tbody
                        tr
                            td
                                img.choice#firstChoice
                            td
                                img.choice#secondChoice
                        tr
                            td#firstTitle
                            td#secondTitle
                        //- tr
                        //-     td#firstRating
                        //-     td#secondRating
                        tr
                            td#firstDeviation
                            td#secondDeviation
